.mobile_logo{
	display:none;
	img{
		max-height: 100px;
		margin-top: 12px;
	}
	@media screen and (max-width: 1200px) {
		display:block;
	}
}
#corgi-front{
	position: absolute;
    background: url(images/corgi_front.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18%;
    padding-bottom: 20%;
    top: 69%;
    left: 0;
    z-index: 9;
    max-width:212px;
    @media screen and (max-width: 815px) {
    	display: none;
    }
}
#corgi-back{
	position: absolute;
    background: url(images/corgi_back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18%;
    padding-bottom: 21%;
    bottom: 7%;
    right: 0;
    z-index: 9;
    display:none;
    max-width:212px;
    @media screen and (max-width: 815px) {
    	display: none;
    }
}
#basset{
	position: absolute;
    background: url(images/basset_brown-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15%;
    padding-bottom: 14%;
    bottom: 8%;
    right:2%;
    z-index: 9;
    max-width: 187px;
    @media screen and (max-width: 815px) {
    	display: none;
    }
}
#pit-01{
	position: absolute;
    background: url(images/pit_white-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
	z-index: 9;

    width: 12%;
    padding-bottom: 19%;
    bottom: 27%;
    right: 10%;
    max-width: 155px;

    @media screen and (max-width: 1250px) {
		width: 15%;
	    padding-bottom: 24%;
	    bottom: 46%;
	    right: 4%;
	}
	@media screen and (max-width: 815px) {
    	display: none;
    }
    
 
}
.paw_bg_section{
	background-image: url(images/luvi_backgrounds-paw_bg_med2.png);
	background-repeat: repeat;
	padding:3.0em 2.0em;
	p{
	    color: #f34b7f;
	    width: 33%;
	    margin: 0 auto;
	    text-align: center;
	    font-weight: bolder;
	}
}
#paw-bg-1, #paw-bg-2{
	position: absolute;
	background: url(images/luvi_paw.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 14%;
	padding-bottom: 26%;
}
#paw-bg-3 {
	position: absolute;
	background: url(images/luvi_paw_right.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10%;
	padding-bottom: 26%;
}
#paw-bg-1 {
	top: 122px;
    -webkit-transform: rotate(1deg);
    transform: rotate(37deg);
    left: -4.5%;
    display:none;
}

#paw-bg-2 {
	top: 175px;
	right: 2%;
	-webkit-transform: rotate(1deg);
	transform: rotate(-6deg);
	display:none;
}
#paw-bg-3 {
	top: 478px;
	right: 0;
	display:none;
}
//Home Page Specific Character Styless
body.home{
	#pit-01{
	    width: 15%;
	    padding-bottom: 20%;
	    bottom: 40%;
	    right: 5%;
	    @media screen and (min-width: 1250px) {
			width: 15%;
		    padding-bottom: 24%;
		    bottom: 34%;
		    right: 4%;
		}
		@media screen and (min-width: 1480px) {
			bottom:22%;	
		}
	}
}
//About Page Specific Character Styless
body.page-id-139{
	#paw-bg-1 {
	    display:block;
	}
	#corgi-front{
        width: 19%;
	    padding-bottom: 22%;
	    top: 39%;
	}
	#floating-heart-2{
		top: 62%;
	}
	#basset{
		width: 17%;
	    padding-bottom: 16%;
	    bottom: 8%;
	    left: 4%;
	    right: 0;
	}
	#corgi-back{
		display:block;
		@media screen and (max-width: 815px) {
	    	display: none;
	    }
	}
}

body.page-id-242{
	#paw-bg-1 {
	    display:block;
	}
	#corgi-front{
        display:none
	}
	#floating-heart-2{
		top: 62%;
	}
	#basset{
		display:none
	}
	#corgi-back{
		display:none
	}
	#pit-01{
		display:none
	}
	#paw-bg-3{
		display:none!important;
	}
	#paw-bg-2{
		display:none!important;
	}
}


.jef_content{
	.wp-block-media-text__content{
		background-color: #F34B7F;
		color:#fff;
		text-align: center;
		margin-left:-50px;
		padding:2.0em 1.0em 2.0em 1.0em;
		margin-top: 2.0em;
	}
	.wp-block-media-text__media{
		position: relative;
		z-index: 555;
	}
	.wp-block-image img {
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	    min-width:360px;
	    position: relative;
	    z-index: 555;
	}
}

.wp-block-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 555;
}
//About Page Styles
.jeff_content_container{
	.inner-column-1{
		position: relative;
		z-index: 555;
	}
	@media (max-width: 767px){
		.kt-mobile-layout-row.kt-v-gutter-default>.wp-block-kadence-column {
		    margin-bottom: 0;
		}
	}
	.inner-column-2{
		position: relative;
		z-index:36;
		color:#fff;
		text-align: center;
		.kt-inside-inner-col{
			margin-left:-85px;
			@media screen and (max-width: 768px) {
				margin-left:0em;
			}
		}
		
		.jeff_text_block{
			background-color: #F34B7F;
			padding:2.0em 2.0em 2.0em 12%;
			margin-top: 2.0em;
			@media screen and (max-width: 1000px) {
				padding-left:18%;
			}
			@media screen and (max-width: 950px) {
				padding-left:27%;
			}
			@media screen and (max-width: 768px) {
				// padding-left:2.0em;
				padding:2.0em;
			}
			@media screen and (max-width: 400px) {
				margin-top: 0em;
				padding:2.0em;
			}
		}
	}
	
}

//Meet The Pups Page Styles
.pup_container{
	background-color: #ffffff;
	border-radius: 20px;
	padding: 0.75em;
	.kt-inside-inner-col {
	    border: 3px dashed #F34B7F;
	    border-radius: 20px;
	}
}
.first_litter_bannner{
	position: absolute;
    top: -1.0em;
    left: -51px;
    max-width: 134px;
    z-index: 555;
}

//Products Page Styles
.products_container{
	text-align: center;
	max-width: $narrow_container_width;
	margin:0 auto;
	position:relative;
	.first_litter_bannner {
	    position: absolute;
	    top: 4em;
	    left: 45px;
	    max-width: 134px;
	    z-index: 555;
	}
	figure{
		margin: 2.0em auto 3.5em;
		img{
			box-shadow: 0 2px 8px #563508;
			display: block;
			border:8px solid #A944BE;
		}
	}
	figure.full_pup_group{
		max-width: 80%;
	    position: relative;
	    z-index: 22;
	}
	figure.wagalong_image{
		max-width: 50%
	}
	figure.puppy_park_image{
		max-width: 65%
	}
	
}
@media only screen and (max-width: 940px) {
	.products_container{
		figure.full_pup_group{
			max-width: 100%;
		    position: relative;
		    z-index: 22;
		}
		figure.wagalong_image{
			max-width: 100%
		}
		figure.puppy_park_image{
			max-width: 100%
		}
		.first_litter_bannner{
			position: absolute;
		    top: 3.5em;
		    left: -2em;
		    max-width: 99px;
		    z-index: 555;
		}
	}

}
.product_header{
	border-radius: 0 !important;
    -webkit-clip-path: polygon(100% 0, 94% 50%, 100% 100%, 0% 100%, 6% 50%, 0% 0%);
    clip-path: polygon(100% 0, 94% 50%, 100% 100%, 0% 100%, 6% 50%, 0% 0%);
    height: 75px;
    width: 60%;
    line-height: 64px;
    font-size: 33px;
    font-weight: bolder;
    margin-bottom: 60px;
    box-shadow: 0 2px 8px #563508;
    background-color: #A944BE;
    text-align: center;
    color:#ffffff;
    margin: 0 auto;

}
@media only screen and (max-width: 940px) {
	.product_header{
	    line-height: 2.9;
	    font-size: 20px;
	    margin-bottom: 1em;
	    height: 3em;
	    width:100%;
	}
}

//PopUp
$color: #F34B7F;

.stitched{
   // padding: 20px;
   // margin: 10px;
   // background: #F34B7F;
   // border: 6px dashed #fff;
   // border-radius: 10px;
   // box-shadow: 0 0 0 20px #F34B7F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   background: $color;
	border-radius: 5px;
	margin: 110px auto;
	padding: 5px 10px;
	border: 2px dashed #fff;
  	outline: 2px dashed darken($color, 10);
	box-shadow: 0 0 0 6px $color, 0 0 1px 7px darken($color, 10);

   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;


   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
   text-align: center;
   div.form_title{
   	    display: inline-block;
	    // width: 25%;
	    margin: 4em auto 0;
	    h2{
	    	padding-bottom: 0.55em;
	    }
   }
   h2.contact_title{
   	text-align: center;
   	border-bottom: 2px dashed #fff;
   }
   form p{
   	text-align: left!important;
   }
   p:nth-of-type(4) {
   	text-align: center!important;
   }
   label{
   	text-align: left;
   }
   .wp-block-image{
		position:absolute;
		top:-15%;
		left: 0;
		right: 0;
		margin: 0 auto;
   }

   input[type="text"], input[type="email"]{
   	width:100%;
   }
	input[type="submit"] {
		border: none;
		border-color: transparent;
		border-radius: 7px;
		background: #98D2F0;
		color: rgba(255, 255, 255, 1.0);
		font-size: 1.125em;
		line-height: 1;
		padding: .6em 1em .4em;
		margin: 0 auto;
	}
	.wpcf7 form.sent p {
		display: none;
	}
	.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
	    color: #ffffff;
	    background-color: transparent;
	    border: 0;
	    padding: 10px;
	    border-bottom: 2px dashed #fff;
	    text-align: center;
	    font-size: 1.5em;
	}
	.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
	    color: #ffffff;
	    background-color: transparent;
	    border: 0;
	    padding: 10px;
	    border-bottom: 2px dashed #fff;
        text-align: center;
	    font-size: 1.5em;
	}
	span.wpcf7-not-valid-tip {
	    color: #efe477;
	    font-size: 1em;
	    font-weight: normal;
	    display: block;
	}

}

//Store Locator
.page-id-242 {
	#floating-heart-2{
		display:none;
	}
	.wpsl-search {
		background-color: #f34b7f!important;
		color:#ffffff!important;
	}
	#wpsl-search-btn{
		border: none;
		border-color: transparent;
		border-radius: 7px;
		background: #98D2F0;
		color: rgba(255, 255, 255, 1.0);
		font-size: 1.25em;
		line-height: 1;
		padding: .6em 1em .4em;
		margin: 0 auto;
	}
	a.wpsl-directions{
		color:#98D2F0;
	}
}

//Footer
footer{
	overflow: hidden;
	position: relative;
}